body {
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(179, 29, 253, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 55px;
  color: #ed9d3d;
  border: thin;
  text-shadow: 3px 1px black;
}

input {
  width: 80%;
  height: 60px;
  margin: 13px 0px 10px;
  padding: 0px 10px;
  font-size: 20px;
  outline: none;
  border-width: inherit;
  border-style: none;
  background-color: #ffe2bf;
  border-radius: 10px;
}

.display {
  width: 316px;
  background-color: #ffe2bf;
  margin: 60px auto 35px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
  padding: 0px 2px;
  height: 170px;
  border-right-style: solid;
  border-top-style: solid;
  border-left-style: solid;
  display: flex;
  flex-direction: column-reverse;
}

.allBtnDiv {
  width: 310px;
  background-color: #fffbcf;
  margin: -35px auto 0px;
  text-align: center;
  border-radius: 0px 0px 15px 15px;
  padding: 50px 5px 40px 5px;
  height: 350px;
  border-top-style: double;
  display: flex;
  gap: -5px;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}

.rowOneCol {
  width: 75px;
}

.rowTwoCol {
  width: 75px;
}

.rowThreeCol {
  width: 75px;
}

.rowFourCol {
  width: 75px;
}

.inpBtn {
  font-weight: bold;
}

.operationInp {
  font-size: 50px;
}

.rowFiveCol {
  width: 91.9%;
  display: flex;
  gap: 15px;
  align-items: center;
}

.operator {
  background-color: #ffc784;
}

.mainOperator {
  background-color: #ed9d3d;
}